<div class="auth-container">
  <h2 class="auth-title">Reset Your Password</h2>
  
  <form action="/forgot-password" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="username" type="text" name="username" class="validate" required>
        <label for="username">Username (email)</label>
      </div>
    </div>
    
    <div class="row center">
      <button class="btn waves-effect waves-light" type="submit">
        Send OTP
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
  
  <a href="/login" class="auth-link">Go back to Login</a>
</div>
